<%= form_for(@quest) do |f| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field">
		ID: <%= @quest.id %>
	</div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :hint %><br>
    <%= f.text_field :hint, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, class: "inputfield" %>
  </div>
  <div class="field">
  <div class="field">
    <%= f.label :brief %><br>
    <%= f.text_area :brief, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :place_name %><br>
    <%= f.text_field :place_name, class: "inputfield" %>
  </div>
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "inputfield" %>
  </div>
  <div class="field">
    <%= f.label :fun_facts %><br>
    <%= f.text_area :fun_facts, class: "inputfield" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<div class="delete">
		<%= link_to 'Delete Quest', @quest, method: :delete, data: {confirm: "Are you sure?"} %>
	</div>
<% end %>
