<h1>Quests</h1>

<% @quests.each do |quest| %>
	<%= link_to quest_path(quest) do %>
		<div class="quest">
			Name: <%= quest.name %><br />
			Hint: <%= quest.hint %><br />
			Difficulty: <%= quest.difficulty %>
		</div>
	<% end %>
<% end %>

<br />
<div class="new">
	<%= link_to 'New Quest', new_quest_path %>
</div>
