<div class="container">
	<% if notice %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<%= notice %>
		</div>
	<% end -%>

	<% if flash[:error] %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<%= flash[:error] %>
		</div>
	<% end -%>

	<div class="row">
		<div class="col-md-12 well pic-gallery">
			<%= quest_pics @quest %>
		</div>
	</div>

	<br />

	<div class="panel panel-primary">
			<div class="panel-heading"">
				<span class="h2"><%= @quest.name %></span>
			</div>
			<div class="panel-body">
				<%= render partial: 'form'%>
			</div>
	</div>

	<div class="actions">
		<%= link_to 'Delete Quest', @quest, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
	</div>

	<br />
	<br />
	<%= link_to '<< Back', quests_path, class: "btn btn-primary" %>
</div>
