<p id="notice"><%= notice %></p>
<p id="error"><%= flash[:error] %></p>


<div class="page-header text-center">
	<h1><%= @quest.name %></h1>
</div>

<% if @quest.images.count == 0 %>
	<%= image_tag "default_pic.png", class: "img-thumbnail img-responsive" %>
<% else %>
	Quest images:<br />
	<% @quest.images.each do |image| %>
		<img src="<%= image.url %>" class="img-thumbnail"/>
	<% end %>
<% end %>

<div class="container">
	<%= render partial: 'form'%>
</div>

<br />
<%= link_to '<< Back', quests_path %>
