<%= form_for @user, html: {class: "form-horizontal", role: "form"} do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="form-group">
		<%= f.label :name, class: "col-md-2 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :email, class: "col-md-2 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :email, class: "form-control" %>
		</div >
	</div>
	
	<div class="form-group">
		<%= f.label :facebookId, class: "col-md-2 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :facebookId, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :imageURL, class: "col-md-2 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :imageURL, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :exp, class: "col-md-2 control-label" %>
		<div class="col-md-10">
			<%= f.text_field :exp, class: "form-control" %>
		</div>
	</div>
	
	<div class="actions">
		<%= f.submit class: "btn btn-success" %>
	</div>

<% end %>
