<% if notice %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			&times;
		</button>
		<%= notice %>
	</div>
<% end -%>

<% if flash[:error] %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
			&times;
		</button>
		<%= flash[:error] %>s
	</div>
<% end -%>

<h1><%= @user.name %></h1>

<% if @user.imageURL=="" || @user.imageURL.nil? %>
	<%= image_tag "default_pic.png", class: "img-thumbnail" %>
<% else %>
	<%= image_tag @user.imageURL, class: "img-thumbnail" %>
<% end %>

<%= render partial: 'form'%>

<br />
<%= link_to '<< Back', users_path %>
<hr />
<h2><%= @user.name %>'s Friends</h2>
<% @user.friends.each do |friend| %>
	<%= link_to user_path(friend) do  %>
		<div class="user">
			<img src="<%= friend.imageURL %>" class="thumb"  />
			Name: <%= friend.name %>
			<br />
			Email: <%= friend.email %>
			<br />
			XP: <%= friend.exp %>
		</div>
	<% end %>
<% end %>
