<p id="notice"><%= notice %></p>
<p id="error"><%= flash[:error] %></p>
<h1><%= @user.name %></h1>

<% if @user.imageURL=="" || @user.imageURL.nil? %>
	You don't have a profile pic :(<br /><br />
<% else %>
	Profile pic:<br />
	<img src="<%= @user.imageURL %>" class="profilepic"/><br />
<% end %>

<%= render partial: 'form'%>

<br />
<%= link_to '<< Back', users_path %>
<hr />
<h2><%= @user.name %>'s Friends</h2>
<% @user.friends.each do |friend| %>
	<%= link_to user_path(friend) do  %>
	<div class="user">
		<img src="<%= friend.imageURL %>" class="thumb"  />
		Name: <%= friend.name %><br />
		Email: <%= friend.email %><br />
		XP: <%= friend.exp %>
	</div>
	<% end %>
<% end %>
